Python Home

In [1]:
print ("Hello, Teacher")

Hello, Teacher

Python syntax

if 7 > 3 :
    print(" seven is greater than three" )

Ex:2

In [5]:
if 7 > 3 :
    print(' seven is greater than three ')
    if 7 > 4:
        print( 'seven is greater than four')

 seven is greater than three
seven is greater than four

Python Comments

In [9]:
#Erss from Kz
print (" Hello, Erss ! ")

 Hello, Erss !

Ex:2

In [13]:
# Hello Teacher !
# Hello World ! 
# yow are you !
print (" Hi bro !")

 Hi bro !

Ex:3

In [15]:
"""
Jieere
edofe
dqr3r
"""
print ('Mbappe')

Mbappe

Python variables

In [17]:
x = 4
y = 6
print (x)
print (y)

4
6

EX:2

In [19]:
x = 4
x = "KBTU"
print (x)

KBTU

EX:3

In [23]:
x = int(4)
y = str(4)
z = float(4)
print(x)
print(y)
print(z)

4
4
4.0

EX:4

In [25]:
x = 7
y = 7.0
z = 'IT'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

EX:5

In [29]:
x = "KBTU"
# is the same as
x = 'KBTU'
print(x)

KBTU

EX:6

In [31]:
a = 7
A = 'Kazakhstan'
print(a)
print(A)

7
Kazakhstan

Python variable names

In [35]:
myname = "Erss"
_myname = "Erss"
my_name = "Erss"
MYNAME = "Erss"
Myname1 = "Erss"
myName = "Erss"
print(myname)
print(_myname)
print(my_name)
print(MYNAME)
print(Myname1)
print(myName)

Erss
Erss
Erss
Erss
Erss
Erss

Assign multiple values

In [39]:
x,y,z = "apple","banana","cherry"
print (x)
print (y)
print (z)

apple
banana
cherry

In [41]:
x = y = z = "apple"
print(x)
print(y)
print(z)

apple
apple
apple

In [45]:
teams = ["Real Madrid", "PSG","Barcelona"]
x,y,z = teams
print (x)
print(z)

Real Madrid
Barcelona

Output Variables

In [47]:
x = "python is awesome"
print (x)

python is awesome

In [51]:
x = "python "
y = "is "
z = "awesome"
print (x,y,z)

python  is  awesome

In [53]:
x = "python"
y = "is"
z = "awesome"
print (x,y,z)

python is awesome

In [59]:
x = "python "
y = "is "
z = "awesome"
print(x + y + z)

python is awesome

In [61]:
x = 5
y = 20
print (x + y)

25

In [65]:
x = 7
y = "KBTU"
print (x,y)

7 KBTU

Global variables

In [69]:
x = "awesome "

def myFunc():
    print ("Python is " + x)

myFunc()

Python is awesome

In [75]:
x = "awesome"

def myFunc():
    x = "fantastic"
    print("KBTU is " + x)

myFunc()

print ("KBTU is " + x )

KBTU is fantastic
KBTU is awesome

In [83]:
x = "awesome"

def myFunc():
    global x 
    x = "fantastic"

myFunc()
print("KBTU is " + x )

KBTU is fantastic

PYTHON DATA TYPES

In [85]:
x = str("Hello World")

print(x)

print(type(x))

Hello World
<class 'str'>

In [87]:
x = int(20)
print(x)
print(type(x))

20
<class 'int'>

In [95]:
x = float(12.12)
print(x)
print(type(x))

12.12
<class 'float'>

In [93]:
x = complex(1j)
print(x)
print (type(x))

1j
<class 'complex'>

In [97]:
x = list(("apple", "banana", "cherry"))
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [99]:
x = tuple(("apple", "banana", "cherry"))
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [101]:
x = range(9)
print(x)
print(type(x))

range(0, 9)
<class 'range'>

In [103]:
x = dict(name="ERSS", age=18)
print(x)
print(type(x))

{'name': 'ERSS', 'age': 18}
<class 'dict'>

In [105]:
x = set(("apple", "banana", "cherry"))
print(x)
print(type(x))

{'banana', 'apple', 'cherry'}
<class 'set'>

In [107]:
x = frozenset(("apple", "banana", "cherry"))
print(x)
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

In [109]:
x = bool(5)
print(x)
print(type(x))

True
<class 'bool'>

In [111]:
x = bytes(5)
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [113]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [115]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x000001A24B8F62C0>
<class 'memoryview'>

Python NUMBERS

In [1]:
x = 1
y = 2.2
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
x = 44
y = 356562225
z = -323445

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [5]:
x = 1.11
y = 1.0
z = -12.52

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [7]:
x = 15e3
y = 232E4
z = -87.7e10

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [9]:
x = 5 + 1j
y = 22j
z = - 12j

print (type(x))
print (type(y))
print (type (z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [17]:
x = 1
y = 2.2
z = 4 + 2j

a = float(x)
b = int (y)
c = complex (x)

print (a)
print (b)
print (c)

print(type(a))
print (type (b))
print (type (c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [19]:
import random
print (random.randrange(2 ,20))

4

PYTHON CASTING

In [22]:
x = int(2)
y = int(2.4)
z = int("2")
print(x)
print(y)
print(z)

2
2
2

In [24]:
x = float(4)
y = float(4.8)
z = float("5")
w = float("22.2")
print(x)
print(y)
print(z)
print(w)

4.0
4.8
5.0
22.2

In [28]:
x = str("33")
y = str(32.0)
z = str(31)
print (x)
print (y)
print (z)

33
32.0
31

PYTHON STRINGS

In [30]:
print("Hello")
print('Hello')

Hello
Hello

In [32]:
print("It's alright")
print("He is called 'Erss'")
print('He is called "Erss"')

It's alright
He is called 'Erss'
He is called "Erss"

In [34]:
x = " HELLO" 
print (x)

 HELLO

In [36]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [38]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [40]:
x = "Hi,guys"
print (x[1])

i

In [42]:
for x in "apple":
    print(x)

a
p
p
l
e

In [46]:
x = "Hi,guys"
print (len(x))

7

In [48]:
txt = "Ers from Zhetisay"
print ( "Zhetisay" in txt)

True

In [64]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [66]:
txt = "The best things in life are free!"
print("expensve" not in txt)

True

In [68]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Python - Slicing Strings

In [70]:
x = "Hello, World!"
print(x[2:5])

llo

In [74]:
x = "Hello,KBTU!"
print (x[:5])

Hello

In [76]:
x = "Hello,KBTU!"
print (x[2:])

llo,KBTU!

In [78]:
x = "Hello, World!"
print(x[-5:-2])

orl

Python - Modify Strings

In [80]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [84]:
x = "Hello, KBTU !"
print (x.lower())

hello, kbtu !

In [86]:
x = "  Erss "
print (x.strip())

Erss

In [92]:
x = " Hello KZ! "
print (x.replace("K" , "A"))

 Hello AZ!

In [96]:
x = " Hello KBTU! exe"
print (x.split(","))

[' Hello KBTU! exe']

Python - String Concatenation

In [98]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [100]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Python - Format - Strings

In [106]:
age = 18
txt = f"My name is Erss, I am {age}"
print(txt)

My name is Erss, I am 18

In [108]:
price = 77
txt = f"The price is {price} dollars"
print (txt)

The price is 77 dollars

In [110]:
txt = f"The price is {10 * 520} dollars"
print(txt)

The price is 5200 dollars

Python - Escape Characters

In [112]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [114]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [116]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [124]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [126]:
txt = "Hello\rWorld!"
print(txt)

World!

In [128]:
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

String Methods

In [134]:
txt = "hello teacher ! "
x = txt.capitalize()
print (x)

Hello teacher !

In [138]:
txt = "Hello Teacher I am From Zhetisay"
x = txt.casefold()
print (x)

hello teacher i am from zhetisay

In [144]:
txt = "Er-Sultan"
x = txt.center (25)
print (x)

        Er-Sultan

In [152]:
txt = "Er-Sultan "
x = txt.center(20,"x")
print(x)

xxxxxEr-Sultan xxxxx

In [154]:
txt = "Kbtu is the best university of Kz, Kbtu number one!"
x = txt.count("Kbtu")
print (x)

2

In [156]:
txt = "Kbtu is the best university of Kz, Kbtu number one!"
x = txt.count("Kbtu" ,11 , 50)
print (x)

1