PYTHON BOOLEANS

In [3]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [3]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [5]:
print(bool("Hello"))
print(bool(15))

True
True

In [13]:
x = "KBTU"
y = 11

print(bool(x))
print(bool(y))

True
True

In [15]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [17]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [25]:
class myclass():
    def __len__(self):
        return 0
        
myobj = myclass()
print(bool(myobj))

False

In [31]:
def myFunction():
    return True

print (myFunction())

True

In [35]:
def myFunction():
    return True

if myFunction():
    print ("YES")
else :
    print ("NO")

YES

In [37]:
x = 2.2
print (isinstance( x, float))

True

PYTHON OPERATORS

In [39]:
x = 5

x &= 3

print(x)

1

In [43]:
x = 3

x |= 4

print(x)

7

In [45]:
x = 3

x ^= 2

print(x)

1

In [49]:
x = 6
x >>= 2
print (x)

1

In [51]:
x = 6

x <<= 2

print(x)

24

In [57]:
print (x:=4)

4

PYTHON LISTS

In [59]:
myList = ["KBTU", "KIMEP","SDU"]
print (myList)

['KBTU', 'KIMEP', 'SDU']

In [61]:
myList = ["KBTU", "KIMEP","SDU","NU","KBTU"]
print(myList)

['KBTU', 'KIMEP', 'SDU', 'NU', 'KBTU']

In [7]:
mylis = ["apple", "banana", "cherry"]
print(len(mylis))

3

In [9]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [11]:
mylist = [12, 44, 5]
print(type(mylist))

<class 'list'>

PYTHON - ACCES LIST ITEMS

In [3]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [13]:
mylist = ["apple", "banana", "cherry"]
print(mylist[-1])

cherry

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [17]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [19]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [21]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [25]:
mylist = [ "KBTU","SDU","NU", "KIMEP"]
if "KBTU" in mylist:
    print ("YES")

YES

PYTHON CHANGE LIST ITEMS

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [31]:
thelist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thelist[1:3] = ["blackcurrant", "watermelon"]
print(thelist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [35]:
mlist = ["apple", "banana", "cherry"]
mlist[1:3] = ["watermelon"]
print(mlist)

['apple', 'watermelon']

In [37]:
mlist = ["apple", "banana", "cherry"]
mlist.insert(2, "watermelon")
print(mlist)

['apple', 'banana', 'watermelon', 'cherry']

PYTHON ADD LIST ITEMS

In [39]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [41]:
mlist = ["apple", "banana", "cherry"]
mlist.insert(1, "orange")
print(mlist)

['apple', 'orange', 'banana', 'cherry']

In [43]:
mlist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
mlist.extend(tropical)
print(mlist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [45]:
mlist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
mlist.extend(thistuple)
print(mlist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
PYTHON REMOVE LIST ITEMS

In [49]:
Mlist = ["apple", "banana", "cherry"]
Mlist.remove("banana")
print(Mlist)

['apple', 'cherry']

In [51]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [53]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [55]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [57]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [61]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

LOOP LISTS

In [63]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [65]:
slist = ["apple", "banana", "cherry"]
for i in range(len(slist)):
  print(slist[i])

apple
banana
cherry

In [67]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

Python - List Comprehension

In [73]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [75]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [79]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [83]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [85]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
newlist = [x for x in range(10) if x > 5]

print(newlist)

[6, 7, 8, 9]

In [89]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [93]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ['Erss' for x in fruits]
print(newlist)

['Erss', 'Erss', 'Erss', 'Erss', 'Erss']

In [95]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

PYTHON SOTR LISTS

In [97]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana"]
mylist.sort()
print(mylist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [99]:
mylist = [100, 50, 65, 82, 23]
mylist.sort()
print(mylist)

[23, 50, 65, 82, 100]

In [101]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana"]
mylist.sort(reverse = True)
print(mylist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [103]:
mylist = [100, 50, 65, 82, 23]
mylist.sort(reverse = True)
print(mylist)

[100, 82, 65, 50, 23]

In [105]:
def myfunc(n):
  return abs(n - 50)

mylist = [100, 50, 65, 82, 23]
mylist.sort(key = myfunc)
print(mylist)

[50, 65, 23, 82, 100]

In [107]:
mylist = ["banana", "Orange", "Kiwi", "cherry"]
mylist.sort()
print(mylist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [109]:
mylist = ["banana", "Orange", "Kiwi", "cherry"]
mylist.sort(key = str.lower)
print(mylist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [111]:
mylist = ["banana", "Orange", "Kiwi", "cherry"]
mylist.reverse()
print(mylist)

['cherry', 'Kiwi', 'Orange', 'banana']

COPE LISTS

In [113]:
thelist = ["apple", "banana", "cherry"]
mylist = thelist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [125]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [117]:
thislist = ["KBTU", "NU", "SDU"]
mylist = thislist[:]
print(mylist)

['KBTU', 'NU', 'SDU']

JOIN LISTS

In [127]:
list1 = ["a", "b", "c"]
list2 = [11, 22, 33]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 11, 22, 33]

In [129]:
list1 = ["a", "b" , "c"]
list2 = [11, 22, 33]
for x in list2:
  list1.append(x)
    
print(list1)

['a', 'b', 'c', 11, 22, 33]

In [131]:
list1 = ["a", "b" , "c"]
list2 = [11, 22, 23]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 11, 22, 23]

LIST - METHODS

append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

PYTHON TUPLES

In [133]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [135]:
mytuple = ("apple", "banana", "cherry", "apple", "cherry")
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [137]:
university = ("KBTU", "SDU", "NU")
print(len(university))

3

In [139]:
country = ("KZ",)
print(type(country))

#NOT a tuple
country = ("KZ")
print(type(country))

<class 'tuple'>
<class 'str'>

In [141]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

ACCES TUPLES

In [143]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [145]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [147]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [149]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [151]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [153]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [155]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

PYTHON - UPDATE TUPLES

In [157]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [161]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [163]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [165]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

PYTHON - UNPACK TUPLES

In [167]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [169]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [171]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

PYTHON LOOP TUPLES

In [173]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [175]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [177]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

PYTHON JOIN TUPLES

In [181]:
tuple1 = ("a", "b" , "c")
tuple2 = (111, 222, 333)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 111, 222, 333)

In [183]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 3

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

TUPLE METHODS

In [185]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [187]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

PYTHON SETS

In [189]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [191]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [193]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'banana', 'cherry', 'apple', 2, True}

In [195]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, 'cherry', 'apple', True, 'banana'}

In [197]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [199]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [201]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [203]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

ACCES SET ITEMS

In [205]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [207]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [209]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

ADD SET ITEMS

In [211]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'apple', 'orange'}

In [213]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'cherry', 'apple', 'pineapple', 'papaya', 'mango'}

In [215]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'orange', 'banana', 'kiwi'}

REMOVE SET ITEMS

In [217]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [219]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [221]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [223]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

LOOP SETS

In [225]:
thisset = {"KBTU", "AITU", "NARXOZ"}

for x in thisset:
  print(x)

AITU
NARXOZ
KBTU

JOIN SETS

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [227]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [229]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [231]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'a', 1, 2, 3, 'c', 'Elena', 'cherry', 'apple', 'bananas', 'b', 'John'}

In [233]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'a', 1, 2, 3, 'c', 'Elena', 'cherry', 'apple', 'bananas', 'b', 'John'}

In [235]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'a', 2, 1, 3, 'c', 'b'}

In [237]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'c', 'b'}

In [239]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [241]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [243]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [245]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [247]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [249]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [251]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [253]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

In [255]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

In [257]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'banana', 'microsoft', 'google'}

SET METHODS

add()	 	Adds an element to the set
clear()	 	Removes all the elements from the set
copy()	 	Returns a copy of the set
difference()	-	Returns a set containing the difference between two or more sets
difference_update()	-=	Removes the items in this set that are also included in another, specified set
discard()	 	Remove the specified item
intersection()	&	Returns a set, that is the intersection of two other sets
intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	Returns whether two sets have a intersection or not
issubset()	<=	Returns whether another set contains this set or not
 	<	Returns whether all items in this set is present in other, specified set(s)
issuperset()	>=	Returns whether this set contains another set or not
 	>	Returns whether all items in other, specified set(s) is present in this set
pop()	 	Removes an element from the set
remove()	 	Removes the specified element
symmetric_difference()	^	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
union()	|	Return a set containing the union of sets
update()	|=	Update the set with the union of this set and others

PYTHON DICTIONARIES

In [259]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [261]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [263]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [265]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [267]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [269]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

ACCES ITEMS

In [275]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print (x)

Mustang

In [277]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys()
print(x) #before the change
car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [279]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.values()
print(x) #before the change
car["year"] = 2020
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [281]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.values()
print(x) #before the change
car["color"] = "red"
print(x) #after the chang

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [283]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [285]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()
print(x) #before the change
car["color"] = "red"
print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [287]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

CHANGE ITEMS

In [289]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [291]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

ADD ITEMS

In [293]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [297]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print (thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

REMOVE ITEMS

In [19]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [301]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [303]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

LOOP DICTIONARIES

In [307]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [309]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

In [311]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

COPY DICTIONARIES

In [313]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [315]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

NESTED DICTIONARIES

In [17]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [319]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [321]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

DICTIONARY METHODS


Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

PYTHON IF-ELSE

In [323]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [325]:
a = 22
b = 22
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [327]:
a = 77
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [329]:
a = 44
b = 11
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [331]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [333]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [335]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [15]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [339]:
a = 33
b = 200

if b > a:
  pass

# having an empty if statement like this, would raise an error without the pass statement

WHILE LOOPS

In [341]:
i = 1
while i < 6:
  print(i)
  i += 2

1
3
5

In [11]:
i = 1
while i < 6:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4
5

In [345]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [7]:
i = 1
while i < 8:
  print(i)
  i += 1
else:
  print("i is no longer less than 8")

1
2
3
4
5
6
7
i is no longer less than 8

FOR LOOPS

In [5]:
univers = ["KBTU", "SDU", "NU"]
for x in univers:
  print(x)

KBTU
SDU
NU

In [357]:
for x in "Teacher":
  print(x)

T
e
a
c
h
e
r

In [359]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [1]:
univers = ["KBTU", "SDU", "NU"]
for x in univers:
  if x == "SDU":
    continue
  print(x)

KBTU
NU

In [369]:
for x in range(5):
   print (x)

0
1
2
3
4

In [371]:
for x in range(2, 20, 3):
  print(x)

2
5
8
11
14
17

In [375]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [13]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry